<connectionStrings>
  <add name="SK2"
   providerName="System.Data.SqlClient"
   connectionString="Data Source=DESKTOP-A394FCE;Initial Catalog=sk_db;Integrated Security=False;User ID=sa;Password=*hidden*;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>
