@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>Welcome to suomenkieli.rendall.tv.</h3>
<p>This is a personal project of Rendall Koski to help us all learn Finnish.</p>
<p>I've scraped most data from Wiktionary. My contribution is presentation and search, but not data or content.</p>
<p>Mostly this will be free. Some extra features might be available to those willing to spring for 5€ per year.</p>
<p>These are a few upcoming plans:</p>
<ul class="aboutList">
    <li>Example sentence search.</li>
    <li>Multi-language support:</li>
    <ul>
        <li>Russian</li>
        <li>Arabic</li>
        <li ><span class="text-muted">... others, as needed.</span></li>
    </ul>
    <li>Drills and self-tests.</li>
    <li>Filtering from Vocabulary lists all words that you already know.</li>
    <li>Limiting sentence examples to only words in any particular vocabulary list.</li>
    <li>SMS interface support.</li>
</ul>
<p>If you'd like more information, feel free to <a href="mailto:rendall@gmail.com">email me at rendall@gmail.com</a>.</p>
