<?xml version="1.0"?>
<connectionStrings>

  <add
     name="SuomenkieliDB"
   connectionString="Data Source=orchid.arvixe.com;Initial Catalog=SuomenkieliDB;Persist Security Info=True;User ID=SuomenkieliAdmin;Password=xxxx"
     providerName="System.Data.SqlClient"
   />
  <add
   name="SuomenkieliIDDB"
   connectionString="Data Source=orchid.arvixe.com;Initial Catalog=SuomenkieliIDDB;Persist Security Info=True;User ID=SuomenkieliAdmin;Password=xxxx"
   providerName="System.Data.SqlClient"
   />

</connectionStrings>
