@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Sorry.  This is a new service, written by one guy in his spare time. I'm logging all of these errors, but if you want to help out, you can  <a href="mailto:rendall@gmail.com?Subject=Suomenkieli%20Error">write an email</a> describing what happened.  What did you search for?</p>

